html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #FF0025; */
    background: linear-gradient(90deg, #FF0025 50%, #f8e800 50%)
}

.image {
    width: 960px;
    height: 540px;
    display: block;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url("./images/ural_0001.png");
}